body{
    background: black;
}

.casscade-logo{
    padding-top: 10%;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.casscade-text{
    width: 9%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}


.casscade-bg-home{
    width: 100%;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}
/* @media screen and (max-width: 930px) {
    .casscade-logo {
        padding-top: 30%;
        width: 85vw;
    }

    .casscade-text {
        padding-top: 5%;
        width: 50vw;
      }

    .casscade-bg-home{
        width: 100vw;
    }
  } */

@media screen and (max-width: 650px) {
    .casscade-logo {
        padding-top: 40%;
        width: 80vw;
    }

    .casscade-text {
        padding-top: 5%;
        width: 45vw;
      }

    .casscade-bg-home{
        width: 100vw;
    }
  }
  
  @media screen and (max-width: 420px) {
    .casscade-logo {
        padding-top: 40%;
        width: 85vw;
    }

    .casscade-text {
        padding-top: 5%;
        width: 50vw;
      }

    .casscade-bg-home{
        width: 100vw;
    }
  }